*.egg-info/

.venv
dist
.DS_Store

# Python
__pycache__
.ipynb_checkpoints

python/src/collections
node_modules

# Environment files
.env
.env.local

*collections/

*.ruff_cache
*.mypy_cache

python/src/numerous/widgets/static

*.mdc