<style>
    {{css}}


    .title {
        text-align: left;
        font-size: 3em;
        background-color: black;
        color: black;
        padding-left: .5em;
    }

    .column_with_spacing {
        display: flex;
        flex-direction: column;
        gap: 2em;
        margin-top: 2em;
    }

    .bordered_container {
        border-right: 1px solid var(--ui-widget-border-color);
        border-bottom: 1px solid var(--ui-widget-border-color);
        border-left: 1px solid var(--ui-widget-border-color);
        border-radius: 4px;
        box-shadow: var(--ui-widget-dropdown-shadow);
        padding: 1em;
    }
    .header-container {
        display: flex;
        background-color: black;
        padding: 1em;
        height: fit-content;
        overflow: hidden;
        border-radius: 4px;
    }
    .logo {
        transform: scale(0.2);
        transform-origin: top left;
        background-color: black;
        padding-left: 1em;
        height: 40px;
    }

    
</style>


<div class="header-container">
    <div class="logo">{{ logo }}</div>
</div>


<div style="margin-top: 1em;">
    {{tabs}}
</div>
<div class="bordered_container">
    <div class="column_with_spacing" style="display: {{'flex' if show_basic else 'none'}}">
        {{ counter }}
        {{ increment_counter }}
        {{ selection_widget}}
        {{ string_input }}
        {{ toggle_button }}
        {{ check_box }}
        {{ radio }}
        {{ slider }}
        {{ picker }}
        {{ picker_range }}
    </div>
    <div class="column_with_spacing" style="display: {{'flex' if show_map else 'none'}}">
        {{ map_widget }}
    </div>
    <div class="column_with_spacing" style="display: {{'flex' if show_markdown else 'none'}}">
        {{ markdown }}
    </div>
    <div class="column_with_spacing" style="display: {{'flex' if show_accordion_tab else 'none'}}">
        <div class="bordered_container">
            {{ accordion }}
            <div class="column_with_spacing" style="display: {{'flex' if show_accordion else 'none'}}">
            "Hello from accordion"
            </div>
        </div>
    </div>
    <div class="column_with_spacing" style="display: {{'flex' if show_table else 'none'}}">
        {{ table }}
    </div>
    <div class="column_with_spacing" style="display: {{'flex' if show_chat else 'none'}}">
        {{ chat }}
    </div>
    <div class="column_with_spacing" style="display: {{'flex' if show_projects else 'none'}}">
        {{ project_widget }}
        {{ make_a_change }}
    </div>
    <div class="column_with_spacing" style="display: {{'flex' if show_task else 'none'}}">
        {{ task }}
    </div>
    <div class="column_with_spacing" style="display: {{'flex' if show_tree else 'none'}}">
        {{ tree }}
    </div>
    <div class="column_with_spacing" style="display: {{'flex' if show_html_template else 'none'}}">
        {{ html_template }}
    </div>
</div>
   
  

