@use '../_inputs';
@use '../_variables';

.number-input-container {
    @extend .input-container;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    vertical-align: top;

    // Fit to content variant
    &.fit-to-content {
        width: fit-content;
        display: inline-flex;

        .input-wrapper {
            width: auto;
        }

        input[type="number"] {
            width: 80px;  /* or any appropriate width */
            text-align: right;
        }
    }

    // Buttons
    .buttons {
        display: flex;
        flex-direction: row;
        height: 100%;
    }

    .step-button {
        padding: 4px 8px;
        border: none;
        background: var(--ui-widget-secondary-background);
        cursor: pointer;
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 24px;
        border-radius: 0;
        border-left: 1px solid var(--ui-widget-border-color);

        &:hover {
            background-color: var(--ui-widget-hover-background);
        }

        &:last-child {
            border-top-right-radius: 4px;
            border-bottom-right-radius: 4px;
        }

        &.down {
            border-right: 1px solid var(--ui-widget-border-color);
        }
    }

    // Input styling
    input[type="number"] {
        width: 80px;
        padding: 4px 8px;
        border: none;
        outline: none;
        font-size: 14px;
        text-align: center;
        background-color: var(--ui-widget-primary-background);

        &::-webkit-inner-spin-button,
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    &:not(.fit-to-content) input[type="number"] {
        text-align: right;
    }

    // Layout adjustments
    &:not(.label-inline):not(.fit-to-content) .input-wrapper {
        justify-content: flex-end;
    }
}

.number-label {
    @extend .input-label;
}

.unit-badge {
    padding: 2px 6px;
    background-color: var(--ui-widget-secondary-background);
    border-radius: 4px;
    font-size: 12px;
    color: var(--ui-widget-secondary-text);
    margin: 0 4px;
    border: 1px solid var(--ui-widget-border-color);
    display: flex;
    align-items: center;
    height: 20px;
    margin-top: 1px;
}